AssetBundleMaker/AssetBundleMaker.v12.suo
AssetBundleMaker/AssetBundleMaker.sln
AssetBundleMaker/AssetBundleMaker.CSharp.csproj
AssetBundleMaker/AssetBundleMaker.CSharp.Editor.csproj
AssetBundleMaker/Library/
MaxstARSDK_Unity/Library/
MaxstARSDK_Unity/Temp/
AssetBundleMaker/Temp/
MaxstARSDK_Unity/MaxstARSDK_Unity.sln
MaxstARSDK_Unity/MaxstARSDK_Unity.CSharp.csproj
MaxstARSDK_Unity/MaxstARSDK_Unity.CSharp.Editor.csproj
MaxstARSDK_Unity/MaxstARSDK_Zombie.apk
MaxstARSDK_Unity/MaxstARSDK_Unity.v12.suo
